<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"file://localhost/home/mcl/git/Stretchsoft/Gee/WebContent/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume gtfs is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      root
   </property>
<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
<property name="hibernate.c3p0.acquire_increment">2</property>
<property name="hibernate.c3p0.idle_test_period">300</property>
<property name="hibernate.c3p0.timeout">1800</property>
<property name="hibernate.c3p0.max_size">25</property>
<property name="hibernate.c3p0.min_size" >3</property>
<property name="hibernate.c3p0.max_statement">0</property>
<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
<property name="hibernate.c3p0.validate">true</property>

   <!-- List of XML mapping files -->
   <mapping resource="agency.hbm.xml"/>
   <mapping resource="routes.hbm.xml"/>
   <mapping resource="stops.hbm.xml"/>
   <mapping resource="trips.hbm.xml"/>
   <mapping resource="stop_times.hbm.xml"/>
   <mapping resource="calendar.hbm.xml"/>
   <mapping resource="calendar_dates.hbm.xml"/>
   <mapping resource="fare_attributes.hbm.xml"/>
   <mapping resource="shapes.hbm.xml"/>
   <mapping resource="frequencies.hbm.xml"/>
   <mapping resource="transfers.hbm.xml"/>
   <mapping resource="imported_stops.hbm.xml"/>

</session-factory>
</hibernate-configuration>
