<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
<property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume gtfs is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/gtfs
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      root
   </property>
    <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
  <property name="hibernate.c3p0.acquire_increment">2</property>
<property name="hibernate.c3p0.idle_test_period">300</property>
<property name="hibernate.c3p0.timeout">1800</property>
<property name="hibernate.c3p0.max_size">25</property>
<property name="hibernate.c3p0.min_size" >3</property>
<property name="hibernate.c3p0.max_statement">0</property>
<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
<property name="hibernate.c3p0.validate">true</property>
   
  

   <!-- List of XML mapping files -->
   <mapping resource="hibernate/gtfs/agency.hbm.xml"/>
   <mapping resource="hibernate/gtfs/calendar.hbm.xml"/>
   <mapping resource="hibernate/gtfs/calendar_dates.hbm.xml"/>
   <mapping resource="hibernate/gtfs/routes.hbm.xml"/>
   <mapping resource="hibernate/gtfs/stops.hbm.xml"/>
   <mapping resource="hibernate/gtfs/trips.hbm.xml"/>
   <mapping resource="hibernate/gtfs/stop_times.hbm.xml"/>
   <mapping resource="hibernate/gtfs/shapes.hbm.xml"/>
   <mapping resource="hibernate/gtfs/frequencies.hbm.xml"/>
   <mapping resource="hibernate/gtfs/transfers.hbm.xml"/>
   <mapping resource="hibernate/gtfs/imported_stops.hbm.xml"/>
   <mapping resource="hibernate/gtfs/fare_rules.hbm.xml"/>
   <mapping resource="hibernate/gtfs/fare_attributes.hbm.xml"/>
   
</session-factory>
</hibernate-configuration>
